.vs/
Jordium.Snowflake.NET.Console/bin/
Jordium.Snowflake.NET.Console/obj/
Jordium.Snowflake.NET.Test/bin/
Jordium.Snowflake.NET.Test/obj/
Jordium.Snowflake.NET/bin/
Jordium.Snowflake.NET/nupkg/
Jordium.Snowflake.NET/obj/
src/Jordium.Snowflake.NET.Console/bin/
src/Jordium.Snowflake.NET.Console/obj/
src/Jordium.Snowflake.NET.Test/bin/
src/Jordium.Snowflake.NET.Test/obj/
src/Jordium.Snowflake.NET/bin/
src/Jordium.Snowflake.NET/obj/
src/Jordium.Snowflake.NET/nupkg/
assets/images/dark-blue.png
assets/images/light-blue.png
assets/images/multiple.png
src/Jordium.Snowflake.NET.Web/bin/
src/Jordium.Snowflake.NET.Web/obj/
src/Jordium.Snowflake.NET.Console472/bin/
src/Jordium.Snowflake.NET.Console472/obj/
src/packages/
